/*@import url('http://fonts.cdnfonts.com/css/ds-digital');*/

@font-face {
  font-family: 'DS-Digital';
  src: url("./font/DS-DIGII.TTF");
}

/* font-family: 'DS-Digital', sans-serif;
Headlines: DS-Digital (400->) - DS-Digital Italic (400->) - */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  width: 400px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217, 93, 255, 0.75);
  box-shadow: 0px 0px 6.4px rgba(0, 0, 0, 0.85) inset;
  border: 10px solid black;
  border-radius: 10px;
}

.tle > h2 {
  position: absolute;
  right: 38.6%;
  top: 16%;
}

.clock .conta {
  display: flex;
}

.clock .conta {
  font-family: 'DS-Digital', sans-serif;
  font-size: 60px;
  color: azure;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.85);
}